@import "@styles/settings/_settings";

.topbar {
  // position: sticky;
  // margin-left: 200px;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  z-index: 999;
  height: 100px;

  background-color: #3b3b3b;
  color: #ffffff;
  padding: 1rem;
}
