@import "@styles/_settings";

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  height: 100px;

  background-color: $color-background;
  color: $color-white;
  padding: 2rem;
}
